<a href="https://colab.research.google.com/github/NachoSabritas/HolaMundo/blob/main/1_Extraccion_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [23]:
#Convertir en dataframe
df=pd.read_csv("file.csv")
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Imprimimos las primeras filas o registros del Dataframe
df.head(5)

In [ ]:
#filtros por objeto
filtro1=df[df ["Entidad_Federativa"] == "Puebla"]
filtro1

In [ ]:
#Filtro por filas
#filtro2=df.iloc[300:302,: ]#filas consecutivas
filtro2=df.iloc[[1000, 2000, 3000], : ] #Filas no consecutivas
filtro2

In [ ]:
#Filtro por columnas
#filtro3=df.iloc[ : ,4:6]#Columnas consecutivas
filtro3=df.iloc[ : ,[1, 4, 6]] #Columnas no consecutivas
filtro3

In [ ]:
#Filtro mixto (filas y columnas)
filtro_mix = df.iloc[[10, 20, 50], 2:5]
filtro_mix

In [ ]:
#Filtro de filas vs columnas
#Paso 1: leemos el contenido del archivo seleccionado previamente
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded["file.csv"]),index_col=2)
df

In [ ]:
#Paso 2: Aplicamos filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"], ["Poblacion_ocupada_en_la_industria_manufacturera" ]]
filtro4

In [ ]:
#Filtro para comparacion
filtro6=df[df["Periodo"] >2006]
filtro6

In [24]:
#Filtro Y
filtro7 = df[(df['Periodo'] == 2015) & (df['Sexo'] == 'Hombres') & (df['Entidad_Federativa'] == 'Chiapas') & (df['Trimestre'] == 3)]
filtro7

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2786,2015,3,Chiapas,Hombres,76655,1358553,5.6424004070000000000000

In [ ]:
#Filtro o
filtro8 = df[(df["Periodo"] > 2006) | (df["Sexo"] == "Mujeres")]
filtro8

In [ ]:
#Filtro not
filtro9 = df[~(df["Periodo"] >= 2006) & ~(df["Sexo"] == "Mujeres")]
filtro9